
.activeRoute{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-position: under;
}
.navContent{
    margin-left: auto;
    margin-right: auto;
}
.fordText{
    letter-spacing: -1px;
    display: inline;
    font-weight:500;
    color: navy;
}
.fordImage{
   display: inline;
}
.container-fluid{
    background-color:lightgray;
}